.user-container{
    margin-left:20px;
	margin-top:80px;
	display:flex;
	flex-wrap:wrap;
}
.user-container-active{
	margin-left:300px;
	margin-top:80px;
	display:flex;
	flex-wrap:wrap;
}
.content-container:hover{
	cursor:pointer;
	background-color:#eeeeee;
}
.content-title{
	font-size:24px;
	font-weight:500;
	color:#555555;
}
.content-description{
	color:#adadad
}
.small-content-title{
	font-size:20px;
    font-weight:600;
    color:#555555;
}