.page-container{
    margin-left:20px;
	margin-top:80px;
	display:flex;
	flex-wrap:wrap;
}
.treatment-title-long{
	font-size:24px;
	// font-weight:500;
	width:200px;
	color:#adadad;
}
.find-button{
	margin-right:10px;
}