.login-container{
	margin-top:80px;
	margin-left:20px;
	margin-right:20px;
	display:flex;
	justify-content:center;
}
.login-middle-container{
	display:block;
	text-align:center;
}
.title{
	font-size:20px;
	font-weight:500;
	margin-bottom:10px;
	// margin-left:50px;
}
.input{
	width:250px !important;
	margin-left:10px;
}
.input-header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:15px;
}
.warning-container{
	display:flex;
	justify-content:center;
	margin-top:10px;
}
.warning-message{
	width:200px;
	padding:5px;
	background-color:#ff0000;
	color:#ffffff;
	border-radius:5px;
}
.image{
	width:200px;
	height:200px;
	margin-bottom:30px;
}