.outside {
    position:fixed;
    top:0;
    width:100%;
    z-index:400;
}
.new-container{
	display:flex;
	justify-content:flex-end;
	width:100%;
}
.left-container{
	display:flex;
	justify-content:space-between;
	padding-left:10px;
}
.right-container{
	display:flex;
	padding-right:10px;
}
.user-currency{
	color:#00fff2;
	padding-right:10px;
}
.username{
  	color:#ffd700;
}
.quest-icons{
	color:#7fffd4;
	padding-left:10px;
}
.questCount{
  	color:#ffd700;
}
.navbar{
  	background-color:#117700;
	height:60px;
	justify-self:start;
	align-items:center;
  	flex:1;
	flex-wrap:nowrap !important;
}
.menu-bar{
	display:flex;
	align-items:center;
    margin-left:1rem;
    font-size:1.5rem;
    background:none;
}
.menu-bars{
    margin-left:240px;
    font-size:1.5rem;
    background:none;
}
.nav-menu{
    background-color:#117700;
    width:280px;
    height:100vh;
    display:flex;
    justify-content:center;
    position:fixed;
    top:0;
    left:-100%;
    // transition:550ms;
}
.nav-menu.active{
    left:0;
    transition:350ms;
}
.nav-text{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:8px 0px 8px 16px;
    list-style:none;
    height:60px;
}
.nav-text a{
    text-decoration:none;
    color:#f5f5f5;
    font-size:18px;
    width:95%;
    height:100%;
    display:flex;
    align-items:center;
    padding:0 16px;
    border-radius:4px;
}
.nav-text a:hover{
    background-color:#11aa00;
	color:#ffffff;
}
// .nav-text a:focus{
//     background-color:#11aa00;
// 	color:"#ffffff"
// }
.nav-menu-item{
    width:100%;
	padding-left: 0;
}
.navbar-toggle{
    background-color:#117700;
    width:100%;
    height:60px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
span{
    margin-left:16px;
}
.coins{
  width:30px;
  height:20px;
  padding-right:10px;
}
.roll{
  width:40px;
  height:25px;
}
.nav-link-container{
	padding-right:10px;
}
.new-container a{
	color:#ffffff;
	text-decoration:none;
}
.new-container a:hover{
	color:#adadad;
}
// .icon{
// 	font-size:100;
// }