.page-container{
    margin-left:20px;
	margin-top:80px;
	display:flex;
	flex-wrap:wrap;
}
.content-width-container{
	height:200px;
	width:240px;
	border-radius:3px;
	border:solid 1px #eeeeee;
	padding:10px;
	margin-right:40px;
	margin-bottom:40px;
	box-shadow:0px 0px 3px #000000;
	justify-content:flex-start;
}
.content-width-container:hover{
	cursor:pointer;
	background-color:#eeeeee;
}